@model IBC.Models.TKEModels.TKEDetail

@{
    ViewBag.Title = "Details";
}

<h2>Terminal Knee Extender</h2>

<div>
    <h4>Specs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TKEId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TKEId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TKEId}) |
    @Html.ActionLink("Back to List", "Index")
</p>
