@model IEnumerable<IBC.Models.MasterModel.MasterCartList>

@{
    ViewBag.Title = "Index";
}

<h2>Review Your Orders</h2>

<p>
    @Html.ActionLink("Back to the Front", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.X1BladeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Injury)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            <p>Price</p>
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.X1BladeId != 0) //OG
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.X1BladeId)
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Injury)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceValue)
                </td>
            </tr>
        }
    }
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>

    </tr>

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TKEId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        <th>
            @*<p>Price</p>*@
        </th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.TKEId != 0)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TKEId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceValue)
            </td>
        </tr>
        }
    }

    <tr>
        <th></th>
        <th></th>
        <th></th>
        @*<th>$@(Model.Count() * 399)</th>*@

        <th>$@(Model.Sum(x => x.PriceValue))</th

    </tr>

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FaceMaskId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @*<p>Price</p>*@
        </th>

    </tr>

    @foreach (var item in Model)
    {
        if (item.FaceMaskId != 0)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FaceMaskId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style)
            </td>
            <td>
                @Html.DisplayFor(model => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceValue)
            </td>
        </tr>
        }
    }
    <tr>
        <th></th>
        <th></th>
        <th></th>
        @*<th>$@(Model.Count() * 249.99)</th>*@
        <th></th>

    </tr>

    @*<tr>
        <th></th>
        <th></th>
        <th>
            <p>Total Price</p>
        </th>
        <th>$@(Model.Count())</th>
        <th></th>
    </tr>*@




</table>

<div class="row" align="center">
    <p>
        <a href="https://www.youtube.com/watch?v=oHg5SJYRHA0" class="btn btn-primary btn-lg">Checkout! &raquo;</a>
    </p>
</div>

