@model IEnumerable<IBC.Models.MasterModel.MasterCartList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cart", "Cart")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.X1BladeId)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.TKEId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FaceMaskId)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.X1BladeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TKEId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FaceMaskId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
