@model IEnumerable<IBC.Models.MasterModel.MasterCartList>

@{
    ViewBag.Title = "Check it Out";
}

<h2>Review Your Orders</h2>


<table class="table">
    <tr>
        <th>
            X1 Blades
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Injury)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        <th>
            <p id="price">Price</p>
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        if (item.X1BladeId != 0) //OG
        {

            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.X1BladeId)*@
                </td>
                <td>
                    @Html.DisplayFor(modelitem => item.Injury)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceValue)
                </td>
               
            </tr>
        }
    }

    <tr>
        <th>
            Terminal Knee Extender
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Quantity)*@
        </th>   
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.TKEId != 0)
        {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.TKEId)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceValue)
            </td>
            <
        </tr>
        }
    }

    <tr>
        <th>
            Face Masks
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Quantity)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.FaceMaskId != 0)
        {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.FaceMaskId)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Style)
            </td>
            <td>
                @Html.DisplayFor(model => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceValue)
            </td>
            
        </tr>
        }
    }

    <tr>
        <th></th>
        <th></th>
        <th><p id="totalPrice">Total Price</p></th>
        <th>$@(Model.Sum(x => x.PriceValue))</th>
        

    </tr>
</table>

<div class="row" align="center">
    <p>
        <a href="https://www.youtube.com/watch?v=sAn7baRbhx4" id="button1" class="button1">Checkout! &raquo;</a>
    </p>
</div>

